.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# compiled output
**/angular2/dist
**/angular2/tmp
**/angular2/out-tsc

# dependencies
**/angular2/node_modules

# e2e
**/angular2/e2e/*.js
**/angular2/e2e/*.map

# System Files
.DS_Store
Thumbs.db