.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# compiled output
**/angular4/dist
**/angular4/tmp
**/angular4/out-tsc

# dependencies
**/angular4/node_modules

# e2e
**/angular4/e2e/*.js
**/angular4/e2e/*.map

# System Files
.DS_Store
Thumbs.db